/* --------------------------------------------------------------
 /* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
 -------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
 /* WordPress Core
 -------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
 /* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
 -------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray: #fbfbfb;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* Theme commons
 -------------------------------------------------------------- */
@import 'less/layouts.less';

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Bitter', serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

#sticker { z-index: 100 !important; }

.search-header-container {
    & .form-shop-custom .input-group {
        border-radius: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
        min-height: 29px !important;
    }

    .searchform {
        margin-bottom: 0 !important;

        & input {
            background: #ececec !important;
            border: 0 !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            min-height: 30px !important;
            .placeholder(#000);
        }

        & .btn-default {
            background: #ececec !important;
            border: 1px solid #ececec !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            line-height: 20px !important;
            min-height: 30px !important;
        }
    }
}

.search-header {
    background: #40403f;
    padding: 7px 0px;
    overflow: hidden;
    .transition(all .3s ease-in-out);

    .searchform {
        & input {
            background: #ececec;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            .placeholder(#000);
        }

        & .btn-default {
            background: #ececec;
            border: 1px solid #ececec;
            border-radius: 0;
            box-shadow: none;
            line-height: 20px;
        }
    }

    & .search-closer-container {
        font-size: 24px;
        color: #FFF;
    }
}

.search-header-show {
    height: 48px;
    opacity: 1;
    .transition(all .3s ease-in-out);
}

.search-header-hide {
    height: 0;
    padding: 0;
    opacity: 0;
    .transition(all .3s ease-in-out);
}

.pre-header {
    height: 30px;
    background-color: @gray;
    font-size: 13.8px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    & .fa {
        padding: 0 10px;
        color: #5c9f6e;
    }

    & a { color: #474645; }
}

.the-header { background: #FFF; }

.the-navbar {
    & .navbar-default {
        background: none transparent;
        border: 0;
        box-shadow: none;
    }

    & .navbar-nav {
        padding-top: 10px;
        text-transform: uppercase;
        font-size: 12.7px;

        & li {
            & a {
                color: #474645;
                .transition(all .3s ease-in-out);

                &:hover {
                    color: #9e9e9e !important;
                    .transition(all .3s ease-in-out);
                }
            }
        }

        & .current-menu-item {
            & a { color: #5c9f6e; }
        }
    }

    & .navbar-custom {
        padding-left: 15px;

        & li {
            padding-left: 5px;
            padding-right: 5px;

            & a {
                color: #474645;
                padding-left: 3px;
                padding-right: 3px;
                .transition(all .3s ease-in-out);

                &:hover {
                    color: #888;
                    .transition(all .3s ease-in-out);
                }
            }
        }
    }

    & .navbar-btn {
        background: none #5c9f6e !important;
        border-radius: 0 !important;
        border: 0;
        color: #FFF !important;
        font-weight: 300;
        padding: 12px 20px !important;
        font-size: 12.7px !important;
        margin-top: 5px;
        text-transform: uppercase;
        text-shadow: none;

        &:hover {
            background: #6a696b !important;
            color: #FFF !important;
        }
    }
}

.img-logo {
    height: 65px !important;
    width: auto;
    margin-top: -5px;
}

.the-navbar-mobile {
    padding: 5px 0;

    & img {
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    & .fa {
        font-size: 25px;
        padding-top: 6px;
    }

    & a { color: #474645; }

    & .fa-shopping-cart { padding-right: 5px; }
}

.mobile-cart-container { text-align: right; }

.the-navbar-mobile-container {
    z-index: 999;
    background: black;
    height: 100vh;
    position: fixed;
    width: 90%;
    padding: 20px;
    .transition(all .2s ease-in-out);
}

.navbar-mobile-hidden {
    top: 0;
    left: -90%;
    .transition(all .2s ease-in-out);
}

.navbar-mobile-show {
    top: 0;
    left: 0;
    .transition(all .2s ease-in-out);
}

.body-navbar-mobile-show {
    position: absolute;
    left: 89%;
    .transition(all .2s ease-in-out);
}

#navbar-mobile-opener {
    margin: 5px 0;
    float: left;
    padding: 6px 0;
}

.navbar-mobile-opened {
    & .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }

    & .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    & .middle-bar { opacity: 0; }

    & .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
}

.menu-header-mobile {
    & ul {
        list-style: none;
        padding: 0;

        & li {
            & a {
                display: block;
                padding: 12px 0;
                font-size: 18px;
                position: relative;
                color: #d3d3d3;
                border-bottom: 1px solid #616161;

                &:after {
                    content: '>';
                    position: absolute;
                    top: 25%;
                    right: 0;
                }
            }

            &:focus a { border-bottom: 1px solid #a2a2a2; }

            &:hover a { border-bottom: 1px solid #a2a2a2; }
        }
    }

    & .current-menu-item a { border-bottom: 1px solid white; }
}

.menu-header-mobile-extra { margin-top: 25px; }

.special-button-mobile {
    position: fixed;
    bottom: 0;
    background: black;
    z-index: 99;
    padding: 5px;

    & a { color: #FFF; }
}

/* FOOTER */
.navbar-footer-nav {
    text-align: center;
    list-style: none;
    padding: 20px 0;

    & li {
        display: inline-block;

        & a {
            padding: 5px 20px;
            font-size: 14.5px;
            color: #474645;
            text-transform: uppercase;
        }
    }
}

.footer-social {
    padding-bottom: 40px;

    & div:nth-child(1) { text-align: right; }

    & .fa {
        padding: 0 10px;
        color: #5c9f6e;
    }

    & a { color: #474645; }
}

.footer-copyright {
    font-size: 10.5px;
    color: #474645;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
}

/* HOME */
.the-slider { background: #000; }

.the-about-home {
    width: 100%;
    font-size: 16.3px;
    line-height: 30.4px;

    & h2 {
        text-align: center;
        font-weight: 900;
        font-size: 31.4px;
        color: #5b5a5d;
        margin-bottom: 15px;
    }

    & .btn-custom {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
}

.the-services {
    padding-bottom: 80px;

    & h2 {
        text-align: center;
        font-weight: 900;
        font-size: 31.4px;
        color: #5b5a5d;
    }
}

.home-service-item-content { border-bottom: 1px solid #d1d1d1; }

.home-service-item {
    padding: 25px 50px;
    text-align: center;
    border-right: 1px solid #d1d1d1;
    min-height: 300px;
    margin: 25px 0;
    .transition(all .3s ease-in-out);

    & a {
        color: #5b5a5d;

        &:hover { text-decoration: none; }
    }

    &:hover {
        .transition(all .3s ease-in-out);

        & img {
            opacity: 0.5;
            transform: scale(1.5);
            transform: translate(-10px,-10px);
            .transition(all .3s ease-in-out);
        }
    }

    &:nth-child(4), :nth-child(8) { border-right: 0; }

    & picture {
        & img {
            display: inline-block;
            .transition(all .3s ease-in-out);
        }
    }

    & h3 {
        font-size: 19px;
        text-transform: uppercase;
    }

    & .home-service-item-info {
        font-family: 'Poppins', sans-serif;
        color: #b7b7b7;
        font-size: 12.5px;
    }
}

.the-products {
    background: @gray;
    padding: 20px 0;
    text-align: center;

    & h2 {
        font-weight: 900;
        font-size: 31.4px;
        color: #5b5a5d;
    }

    & .home-products-button {
        text-transform: uppercase;
        color: #5c9f6e;
        font-size: 14.5px;
        font-weight: 900;
    }
}

.home-product-carousel {
    padding: 30px 0;

    & .owl-nav {
        width: 100%;
        font-size: 25px;

        & .owl-prev {
            top: 45%;
            position: absolute;
            left: -50px;
        }

        & .owl-next {
            top: 45%;
            position: absolute;
            right: -50px;
        }
    }
}

.home-product-item {
    background: white;
    padding: 50px 20px;
    padding-bottom: 20px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 1px 2px #dbdbdb;
    color: #464646;
    .transition(all .3s ease-in-out);

    &:hover {
        box-shadow: -2px -2px 20px #585858;
        .transition(all .3s ease-in-out);
    }

    & img { padding-bottom: 30px; }

    & h3 {
        font-size: 16.5px;
        margin-bottom: 10px;
    }

    & .home-product-item-info {
        font-size: 21px;

        & a {
            border-top: 1px solid #e9e9e9;
            color: #5c9f6e;
            font-size: 14.4px;
            display: block;
            padding-top: 10px;
            text-transform: uppercase;
        }
    }
}

.the-partners {
    padding: 20px 0;
    text-align: center;

    & h2 {
        font-weight: 900;
        font-size: 31.4px;
        color: #5b5a5d;
    }
}

.the-testimonials {
    padding-top: 20px;
    text-align: center;

    & h2 {
        font-weight: 900;
        font-size: 31.4px;
        color: #5b5a5d;
    }
}

.home-testimonials-content {
    background: url(../images/testimonials.png);
    background-size: cover;
    padding: 40px 0;
    padding-bottom: 60px;
}

.home-testimonials-carousel {
    padding: 30px 0;

    & .owl-nav {
        width: 100%;
        font-size: 25px;

        & .owl-prev {
            top: 45%;
            position: absolute;
            left: -50px;
        }

        & .owl-next {
            top: 45%;
            position: absolute;
            right: -50px;
        }
    }
}

.home-testimonials-item {
    font-size: 18.7px;
    color: #5b5a5d;

    & img {
        max-width: 130px;
        border: 10px solid white;
        border-radius: 100%;
        display: inline-block !important;
        margin: 20px;
    }

    & h4 {
        text-align: right;
        font-size: 18.7px;
        color: #739a6f;
    }
}

.contact-content {
    padding: 5% 0;
    padding-left: 5%;
    font-size: 14px;
    color: #303030;

    & h2 {
        font-weight: 900;
        font-size: 31.4px;
        color: #5b5a5d;
        margin-bottom: 25px;
    }

    & h5 {
        font-size: 16px;
        margin-bottom: 0;
    }

    & h6 {
        font-size: 10.8px;
        margin-bottom: 40px;
    }

    & a { color: #5c9f6e; }
}

.contact-extra-logo {
    text-align: center;
    padding: 60px 0;

    & img {
        display: inline-block;
        max-height: 40px;
    }
}

/* PAGE */
.page-title-container {
    background: #fbfbfb;
    padding: 55px 0;

    & h1 {
        font-size: 33.5px;
        color: #5c9f6e;
        font-weight: 900;
    }
}

/* SHOP */
.main-banner-section { min-height: 420px; }

.shop-banner-section {
    background: url(../images/banner-shop.jpg);
    background-size: cover;
    padding: 5% 0;
    font-size: 14.5px;
    font-family: 'Poppins', sans-serif;

    & h1 {
        color: #5c9f6e;
        font-weight: 900;
        font-size: 33.5px;
        font-family: 'Bitter', serif;
        margin-bottom: 25px;
    }
}

.service-banner-section {
    background: url(../images/banner-services.jpg);
    background-size: cover;
    padding: 5% 0;
    font-size: 14.5px;
    font-family: 'Poppins', sans-serif;

    & h1 {
        color: #5c9f6e;
        font-weight: 900;
        letter-spacing: 0.3px;
        font-size: 28.9px;
        font-family: 'Bitter', serif;
        margin-bottom: 25px;
    }
}

.main-woocommerce-container {
    background: #fbfbfb;
    padding: 20px 0;
}

.main-woocommerce-shop-container {
    padding: 40px 0;

    & .woocommerce-breadcrumb { display: none; }
}

.woocommerce-breadcrumb {
    text-align: center;
    text-transform: uppercase;
    color: #72706f !important;
    margin-bottom: 25px !important;
    margin-top: 15px !important;

    & a { color: #c6c3c0 !important; }
}

.main-shop-item {
    background: #FFF;
    border: 1px solid #dbdbdb;
    padding: 30px !important;
    padding-bottom: 5px !important;
    text-align: center;

    & img { margin: 30px 0 !important; }

    & .button {
        border-top: 1px solid #e9e9e9 !important;
        width: 100% !important;
        border-radius: 0 !important;
        background: none transparent !important;
        text-transform: uppercase;
        font-weight: 400 !important;
        color: #5c9f6e !important;
        font-size: 14.4px !important;
        padding: 15px 0 !important;
    }

    & a { color: #464646; }

    & h3 { font-size: 16.5px; }

    & .price {
        margin-bottom: 0 !important;
        color: #464646 !important;
        font-size: 21px !important;
    }
}

.form-shop-custom {
    margin-bottom: 25px;

    & .input-group {
        border-radius: 8px !important;
        border: 1px solid #dedede;
        box-shadow: 2px 1px 5px #dedede;
        min-height: 50px;
        .placeholder(#d2d2d2);
    }

    & button {
        background: none transparent;
        border: 0;
        box-shadow: none;
        min-height: 50px;
        width: 60px;
        color: #000;
    }

    & input {
        border: 0;
        box-shadow: none;
        border-radius: 0;
        min-height: 50px;
        color: #000;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;

        &:focus { box-shadow: none !important; }
    }
}

/* SINGLE */
.woocustom-main-container {
    & .images {
        width: 30% !important;
        background: white;
        padding: 20px !important;
        border: 1px solid #b3b3b3;
    }

    & .thumbnails-custom {
        float: left;
        width: 15%;

        & a {
            border: 1px solid #b3b3b3;
            padding: 15px;
            display: block;
            width: auto !important;
            max-width: 85px;
        }
    }

    & .summary {
        margin-bottom: 8em !important;

        & .product_title {
            font-size: 25px !important;
            color: #464646;
            margin-bottom: 5px !important;
        }

        & .price {
            color: #5c9f6e !important;
            font-size: 25px !important;
        }

        & .quantity {
            max-width: 90px !important;
            width: 100% !important;
            margin-bottom: 10px;

            & input {
                width: 100% !important;
                border-radius: 5px;
                box-shadow: none !important;
                border: 1px solid #DDD !important;
                font-family: 'Poppins', sans-serif;
            }
        }

        & .button {
            margin-top: 10px;
            width: 300px !important;
            font-family: 'Poppins', sans-serif;
            background: #5C9f6e !important;
            border-radius: 5px !important;
            border: 0 !important;
            color: #FFF !important;
            font-size: 15.6px !important;
            font-weight: 400 !important;
            padding: 16px 10px;
            position: relative;

            & .fa {
                position: absolute;
                top: 15px;
                left: 8%;
            }
        }
    }
}

.woocommerce-custom-sharer {
    padding-left: 10%;
    font-size: 13.6px;
    line-height: 34.5px;
    font-family: 'Poppins', sans-serif;
    clear: both;

    & a {
        color: #5c9f6e;
        cursor: pointer;
    }

    & .fa { padding-left: 5px; }
}

.related {
    & h2 {
        font-size: 31.2px !important;
        color: #464646 !important;
        margin-bottom: 20px !important;
    }
}

.single-related-carousel {
    padding: 30px 0;
    text-align: center;

    & .home-product-item {
        max-width: 260px;
        margin-right: 20px;
        float: left;
    }
}

/* CUSTOM AREAS - CONTACT PAGE */
.page-contact-content {
    padding-top: 30px;

    & .wpcf7-form-control {
        border: 3px solid #5c9f6e;
        font-size: 16.5px;
        padding: 18px;
        width: 100%;
        border-radius: 7px;
        margin-bottom: 18px;
        color: #303030;
        font-family: 'Poppins', sans-serif;
    }

    & .wpcf7-submit {
        width: auto !important;
        float: none;
        margin-right: 15px;
        padding: 15px 75px;
        background: #5c9f6e;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 400;
        border-radius: 5px !important;
        font-family: 'Poppins', sans-serif;
        margin-left: auto;
        display: block;
    }

    & h4 {
        font-size: 21px;
        letter-spacing: 0.2px;
        color: #5c9f6e;
    }
}

.page-contact-picture { margin-top: -15px; }

/* SERVICES */
.btn-services {
    background: #5c9f6e;
    color: #FFF;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12.7px;
    padding: 12px 20px;
}

.btn-custom {
    background: none;
    border: 1px solid #5c9f6e;
    padding: 10px 15px;
    color: #5c9f6e;
    font-size: 13.8px;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    margin-bottom: 25px;
}

.panel-custom {
    border-radius: 0 !important;
    margin-top: 0 !important;
    border-bottom: 0 !important;

    & .panel-heading {
        background: none #f7f7f7 !important;
        border-bottom: 0 !important;
        padding: 20px 10px;

        & .panel-title {
            font-size: 20.8px;
            color: #5c9f6e;
            text-transform: uppercase;
            letter-spacing: 0.2px;

            & img {
                display: inline-block;
                max-height: 55px;
                width: auto;
            }
        }

        & .panel-title-img {
            min-width: 75px;
            display: inline-block;
            text-align: center;
        }

        & .panel-title-chevron {
            display: inline-block;
            float: right;
            margin: 8px 15px;
        }

        & .collapsed .fa-chevron-up {
            .transition(all .3s ease-in-out);
            transform: rotate(180deg);
        }

        & .collapse .fa-chevron-up {
            .transition(all .3s ease-in-out);
            transform: rotate(0deg);
        }
    }

    & .panel-body {
        padding: 20px 30px !important;

        & .panel-body-sharer {
            text-align: right;
            font-size: 16.5px;
            font-family: 'Poppins', sans-serif;

            & a { color: #5c9f6e; }

            & .fa { padding-left: 10px; }
        }

        & .panel-body-button {
            margin-top: 5px;
            text-align: center;
        }
    }
}

.panel-group {
    & .panel-custom:last-child { border-bottom: 1px solid #ddd !important; }
}

/* GENERAL */
.page-container {
    font-size: 16.5px;
    line-height: 29px;

    & p { font-family: 'Poppins', sans-serif; }

    & h1, h2, h3, h4, h5, h6 {
        font-family: 'Bitter', serif;
        color: #5c9f6e;
    }
}

.page-about-container {
    height: 45vh;
    padding-top: 8%;
    margin-bottom: 20px;
    background-attachment: fixed !important;
    background-size: contain !important;
}

.service-child-item-title {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 25px;

    & h3 {
        text-align: center;
        color: #000;
        font-size: 22px;
    }
}

.service-child-item-content { font-size: 14px; }

/* FORM - APPOINTMENT */
.form-appointment-container {
    & h3 {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
    }

    & .special-book-form-control {
        margin-bottom: 10px;

        & label {
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 0px;
            line-height: 0px;
        }
    }

    & .special-form-control {
        border-radius: 0;
        box-shadow: none;
        border: 2px solid #5c9f77;
        padding: 10px 5px;
    }

    & select { padding: 0 !important; }

    & input[type=date] { padding: 5px !important; }

    & .special-book-buttons {
        text-align: right;

        & input {
            width: auto;
            display: inline-block;
        }

        & br { display: none; }

        & input[type="reset"] {
            background: none;
            border: 0;
            padding: 0px 25px;
            font-size: 14px;
        }

        & .wpcf7-submit {
            background: #5c9f6e;
            padding: 7px 25px;
            font-size: 15px;
            color: #FFF;
            font-weight: 300;
            border: 0;
            box-shadow: none;
        }
    }
}

.custom-collapse {
    display: block;
    width: 100%;
    padding: 5px 20px;
    color: #2f2f2f;

    & .custom-collapse-caret {
        float: right;
        color: #000;
        font-size: 25px;
        margin-top: -5px;
        transform: rotate(45deg);
        .transition(all .3s ease-in-out);
    }
}

.collapsed {
    & .custom-collapse-caret {
        color: #5c9f6e !important;
        transform: rotate(0deg);
        .transition(all .3s ease-in-out);
    }
}

.custom-collapse-container {
    font-family: 'Poppins', sans-serif;
    font-size: 14.5px;
    line-height: 33.5px;
    color: #868583;
}

.table-custom {
    & tr {
        & td:nth-child(3) { text-align: right; }
    }
}

/* SERVICES SINGLE */
.single-service-container {
    font-size: 16.5px;
    line-height: 29px;

    & h1 {
        font-size: 30PX;
        text-transform: uppercase;
        font-weight: 600;
        color: #5c9f77;
    }
}

.single-service-title-img {
    float: left;
    max-width: 75px;
    margin-top: -20px;
}

.cart {
    width: 70% !important;
    float: left;
}

.cart-collaterals {
    width: 30% !important;
    float: left;
}

.cart_totals {
    width: 95% !important;

    & h2 { display: none; }
}

.coupon .input-text { width: 50% !important; }

.share-buttons-container {
    color: #5c9f6e;
    overflow: hidden;
    float: right;
    .transition(all .3s ease-in-out);
    .transition-delay(20);
    width: 0;
    height: 32px;
}

.share-toggle { cursor: pointer; }

.share-button-hide {
    width: 0;
    .transition(all .3s ease-in-out);
    .transition-delay(20);
}

.share-button-show {
    .transition(all .3s ease-in-out);
    .transition-delay(20);
    width: 100px;
}

.share-link {
    color: red;
    cursor: pointer;
}

.share-buttons-product {
    float: none;
    margin-left: 10%;

    & a {
        color: #5c9f6e;
        padding-right: 10px;
        font-size: 18px;
    }
}

/* CART CUSTOM */
.car_item_custom {
    width: 100%;
    border: 1px solid #d1d1d1;
    margin-bottom: 20px;
    border-radius: 0;
    position: relative;

    & .product-thumbnail {
        float: left;
        padding: 20px 45px;
        border-right: 1px solid #d1d1d1;

        & img { max-width: 70px; }
    }

    & .product-name {
        float: left;
        width: 50%;
        padding: 4.5% 20px;
        font-size: 15.5px;
        color: #000;
    }

    & .product-quantity {
        float: left;
        padding: 3.5% 20px;

        & .quantity {
            border: 1px solid #d1d1d1;
            border-radius: 5px;
            font-size: 18px;
            padding: 8px;

            & input { border: 0 !important; }
        }
    }

    & .product-price {
        float: left;
        padding: 4.5% 20px;
    }

    & .remove {
        position: absolute;
        top: 5px;
        color: #5c9f6e !important;
        right: 10px;
    }
}

.table_custom_coupon {
    border: 1px solid #d1d1d1 !important;
    width: 100% !important;
    border-radius: 0 !important;
}

/* */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video, .touch .video-container video { display: none; }

.no-video .video-container .poster, .touch .video-container .poster { display: block !important; }

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 10;
    height: 90vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 14% 0;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

    & h2 {
        font-size: 40px;
        margin-bottom: 15px;
        font-family: 'Bitter', serif;
    }
}

.btn-book {
    background: none #5c9f6e;
    border-radius: 0;
    border: 0;
    color: #FFF;
    padding: 16px 25px;
    font-size: 16.7px;
    margin-top: 5px;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: 'Bitter', serif;
    margin-top: 10px;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth { width: 100%; }

.special-button-mobile-cart { padding: 0 !important; }

.special-button-price {
    color: #FFF;
    padding: 8px 10px;
    background: #656465;
    text-align: center;
}

.special-button-button {
    text-transform: uppercase;

    & a {
        color: #FFF;

        &:hover { color: #b5b5b5; }
    }
}

.search-item-container {
    background: #efefef;
    margin-top: 20px;
    font-size: 13px;
    line-height: 30px;
    .transition(all .3s ease-in-out);

    &:hover {
        background: #adadad;
        .transition(all .3s ease-in-out);
    }

    & h2 {
        font-size: 20px;
        font-weight: 100 !important;
        margin-top: 15px;
    }

    & a {
        color: #5c9f6e;
        text-decoration: none;
    }
}
