/* --------------------------------------------------------------
 MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
 -------------------------------------------------------------- */
@media (max-width: 991px) {
    .home-service-item {
        padding: 18px 10px;
        margin: 25px 0;
    }

    .home-service-item h3 { font-size: 13px; }

    .home-product-carousel .owl-nav .owl-prev { left: -30px; }

    .home-product-carousel .owl-nav .owl-next { right: -30px; }

    .contact-map { padding-left: 15px; }

    .home-product-item h3 { font-size: 11.5px; }
}

@media (max-width: 800px) {
    .car_item_custom .product-quantity .quantity {
        font-size: 15px;
        padding: 3px;
    }

    .car_item_custom .product-thumbnail {
        padding: 12px 20px;
        border-right: 0;
    }
}

@media (max-width: 768px) {
    .car_item_custom {
        border-bottom: 0;
        margin-bottom: 0px;
    }

    .single-related-carousel .home-product-item {
        max-width: 43.5%;
        margin-right: 25px;
        float: left;
        margin-left: 0;
    }

    .single-related-carousel .home-product-item {
        max-width: 21.5%;
        padding: 20px 10px;
    }

    .woocustom-main-container .summary { margin-bottom: 0em !important; }

    .woocommerce-checkout {
        & input { border: 1px solid black; }
    }
}
