/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .related h2 {
        font-size: 22.2px !important;
        color: #464646 !important;
        margin-bottom: 0px !important;
    }

    .home-product-item h3 {
        font-size: 17.5px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .single-related-carousel .home-product-item {
        max-width: 43.5%;
        margin-bottom: 20px;
        padding: 10px 10px;
    }

    div.pp_woocommerce { top: 8% !important; }

    div.ppt { display: none !important; }

    .single-service-title-img { max-width: 60px; }

    .single-service-container h1 { font-size: 20px; }

    .btn-book { font-size: 11.7px; }

    .video-container .filter {
        padding: 8% 0;
        font-size: 15px;
    }

    .video-container .filter h2 { font-size: 25px; }

    .video-container { height: 38vh; }

    .poster {
        & img {
            width: 100%;
            height: 38vh;
        }
    }

    .wpcf7-form .col-xs-12 { padding: 0 !important; }

    .car_item_custom .product-thumbnail {
        padding: 10px 10px;
        border-right: 0;
    }

    .car_item_custom .product-name {
        width: 70% !important;
        padding: 10px 10px 0 10px;
    }

    .car_item_custom .product-price { padding: 4.5% 30px; }

    .page-title-container {
        background: #fbfbfb;
        padding: 30px 0;

        & h1 {
            font-size: 25.5px;
            color: #5c9f6e;
            font-weight: 900;
            padding-left: 10px;
        }
    }

    .panel-custom .panel-body .panel-body-sharer { font-size: 12.5px; }

    .home-service-item:nth-child(2), .home-service-item :nth-child(4) { border-right: 0; }

    .home-service-item {
        text-align: left;
        border-right: 0;
        border-bottom: 1px solid #d1d1d1;
        padding: 10px 0px;
        margin: 0;
        min-height: auto;

        & picture {
            width: 20%;
            float: left;
            padding-top: 5px;
        }

        & header {
            width: 80%;
            float: left;
            padding-left: 20px;
        }

        & .home-service-item-info {
            width: 80%;
            float: left;
            padding-left: 20px;
        }
    }

    .home-product-item {
        padding: 20px 5px;
        padding-bottom: 10px;
        margin: 0 80px;

        & img {
            padding-bottom: 0;
            width: 50% !important;
            margin-left: auto;
            margin-right: auto;
        }

        & h3 {
            font-size: 16.5px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }

    .contact-extra-logo { padding: 30px !important; }

    .home-service-item-content { border-bottom: 0; }

    .the-services { padding-bottom: 0; }

    .owl-nav { display: none !important; }

    .contact-map { padding-left: 0; }

    .contact-extra-logo { padding: 30px 0; }

    .navbar-footer-nav li {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .navbar-footer-nav li a {
        padding: 10px 18px;
        font-size: 14.5px;
    }

    .footer-social div:nth-child(1) {
        text-align: center;
        margin-bottom: 15px;
    }

    .footer-social div:nth-child(2) {
        text-align: center;
        margin-bottom: 15px;
    }

    .the-navbar-mobile-container { max-width: 525px; }

    .panel-custom .panel-heading {
        padding: 20px 0px;
        padding-right: 10px;
    }

    .panel-custom .panel-heading .panel-title img { max-height: 40px; }

    .panel-custom .panel-heading .panel-title { font-size: 13.8px; }

    .panel-custom .panel-heading .panel-title-img { min-width: 65px; }

    .service-child-item-title h3 { font-size: 16px; }

    .service-child-item-content {
        font-size: 13px;
        line-height: 25px;
    }

    .btn-custom { font-size: 11.8px; }

    .woocustom-main-container .thumbnails-custom a {
        max-width: 63px;
        float: left !important;
        clear: none !important;
        margin-right: 10px !important;
    }

    .woocustom-main-container .thumbnails-custom {
        float: left;
        width: 100%;
    }

    .woocustom-main-container .images {
        width: 100% !important;
        float: left !important;
    }

    .page-about-container {
        height: 15vh;
        padding-top: 6%;
        background-size: contain !important;
        background-position: center right !important;
    }

    .panel-content-services {
        font-size: 14px;
        line-height: 25px;
    }

    .custom-collapse {
        padding: 5px 0px;
        position: relative;
    }

    .collapsed .custom-collapse-caret {
        position: absolute;
        top: 10px;
        right: 0;
    }

    .custom-collapse-container {
        font-size: 12.5px;
        line-height: 25.5px;
    }
}

@media (max-width: 533px) {
    .the-navbar-mobile-container { max-width: 465px; }

    .panel-custom .panel-heading .panel-title-chevron { margin: 8px 10px; }

    .panel-custom .panel-heading .panel-title { font-size: 11.8px; }

    .panel-custom .panel-heading {
        padding: 10px 0px;
        padding-right: 10px;
    }
}

@media (max-width: 414px) {
    .single-related-carousel .home-product-item {
        max-width: 46.5%;
        margin-right: 10px;
        min-height: 230px;
    }

    .home-product-item h3 {
        font-size: 13.5px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .the-navbar-mobile-container { max-width: 355px; }

    .main-shop-item { padding: 5px !important; }

    .single-service-container h1 { font-size: 12px; }

    .single-service-container {
        font-size: 13.5px;
        line-height: 26px;
    }

    .single-service-title-img { max-width: 50px; }
}

@media (max-width: 375px) {
    .the-navbar-mobile-container { max-width: 325px; }

    .panel-custom .panel-heading .panel-title-img { min-width: 55px; }

    .panel-custom .panel-heading .panel-title { font-size: 10.8px; }
}

@media (max-width: 360px) {
    .the-navbar-mobile-container { max-width: 325px; }

    .panel-custom .panel-heading .panel-title-chevron { margin: 14px 0px; }
}
