/* --------------------------------------------------------------
 MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
 -------------------------------------------------------------- */
//@media (max-width: 1920px) {
//
//}
//@media (max-width: 1680px) {
//
//}
//@media (max-width: 1600px) {
//
//}
//@media (max-width: 1440px) {
//
//}
@media (max-width: 1366px) {
    .home-service-item .home-service-item-info { font-size: 12.5px; }
}

@media (max-width: 1280px) {
    .page-about-container { height: 40vh; }

    .home-service-item { padding: 25px 20px; }

    .video-container { height: 70vh; }

    .video-container video { top: 0; }
}

@media (max-width: 1170px) {
    .the-navbar .navbar-nav { font-size: 10.7px; }

    .the-navbar .navbar-btn {
        padding: 11px 8px !important;
        font-size: 10.7px !important;
    }

    .img-logo {
        height: 50px !important;
        width: auto;
        margin-top: -5px;
    }

    .page-about-container { height: 37vh; }

    .car_item_custom .product-name { width: 35% !important; }

    .single-related-carousel .home-product-item { max-width: 21.5%; }

    .home-product-item h3 {
        font-size: 14.5px;
        margin-bottom: 10px;
        height: 35px;
    }
}

@media (max-width: 1024px) {
    .home-service-item .home-service-item-info { font-size: 12.5px; }

    .contact-content {
        padding-left: 2%;
        font-size: 13px;
    }

    .contact-content h5 { font-size: 13px; }

    .page-about-container { height: 30vh; }

    .single-related-carousel .home-product-item { max-width: 21.5%; }
}

@media (max-width: 992px) {
    .page-about-container {
        height: 16vh;
        padding-top: 5%;
    }

    .img-logo {
        height: 50px !important;
        margin-top: -5px;
    }

    .navbar-footer-nav li a {
        padding: 5px 10px;
        font-size: 12.5px;
    }

    .navbar-header { float: none; }

    .navbar-left, .navbar-right { float: none !important; }

    .navbar-toggle {
        display: block;
        margin-top: 18px;
        margin-bottom: 0;
        border: 0 !important;

        & .icon-bar { background-color: #5c9f6e !important; }
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        border-color: transparent !important;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse { display: none!important; }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li { float: none; }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in { display: block !important; }

    .cart {
        width: 100% !important;
        float: none;
    }

    .cart-collaterals {
        width: 100% !important;
        float: none;
    }

    .cart_totals { width: 100% !important; }
}
